{
  "extends": ["@nuxtjs/eslint-config-typescript", "prettier"],
  "rules": {
    "semi": 0,
    "prefer-const": 0,
    "vue/multi-word-component-names": 0,
    "@typescript-eslint/no-unused-vars": ["off"]
  }
}
