name: Node.js CI

on:
  push:
    paths-ignore:
      - 'docs/**'
      - '*.md'
      - '.github/**'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '*.md'
      - '.github/**'
  pull_request_review:
jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - uses: pnpm/action-setup@v4
      - run: pnpm i
      - run: npx playwright install --with-deps
      - run: pnpm run test
        env:
          CI: true
