name: Node.js CI

on:
  push:
    paths-ignore:
      - 'docs/**'
      - '*.md'
      - '.github/**'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '*.md'
      - '.github/**'

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.x]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - run: corepack enable
      - run: corepack install
      - run: pnpm install
      - run: pnpm run lint
      - run: pnpm run format:check
      - run: npx playwright install --with-deps
      - run: pnpm run test
        env:
          CI: true
